*{
    font-family: Arial;
    max-width: 1600px;
}
/*cabeza de la pagina web*/
.cabeza{
    border: 2px #344f5c solid;
    border-radius: 15px;
    background: #3E5F6E;
}
/*barra de registro*/
.barra_registro{
    position: absolute;
    width: 1550px;
    top: 40px;
}
.barra_registro a{
    text-decoration: none;
    color: black;
}
/*barra de menu*/
.menu li a{
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a{
    border-radius: 10px;
    background: #499195;
}
.menu li a:hover{
    border-radius: 10px;
    background: #7FAAFF    
}
/*contenido de la noticia*/
.contenido{
    float: left;
    background: rgb(235, 235, 235);
    width: 60%;
    padding: 20px;
    border-radius: 20px;
}
.contenido img{
    border-radius: 10px;
    border: 5px black solid;
}
.texto_contenido{
    text-align: center;
    font-size: 15px;
}
.Lomasvisto{
    position: absolute;
    left: 1050px;
    top: 450px;
    float: left;
    background: rgb(235, 235, 235);
    width: 30%;
    padding: 10px;
    border-radius: 10px;
}
.Lomasvisto img{
    border: 5px black solid;
    border-radius: 10%;
}
.titulo_lomasvisto{
    position: absolute;
    float: left;
    left: 1050px;
    background: rgb(177, 175, 175);
    border-radius: 10px;
    padding: 40px;
    width: 26%;
}
#text_1{
    color: black;
    text-decoration: none;
}
#text_2{
    color: black;
    text-decoration: none;
}
#text_3{
    color: black;
    text-decoration: none;
}
#text_1:hover{
    color: rgb(14, 255, 235);
}
#text_2:hover{
    color: rgb(15, 240, 229);
}
#text_3:hover{
    color: rgb(15, 240, 221);
}