body{
    background-color: rgb(41, 39, 39);
    margin: 0;
    padding: 0;
}
.barra_navegacion{
    background-color: rgba(10, 10, 10, 0.753);
    text-align: center; 
    padding: 15px;
    margin: 0%;
    position: relative;
    height: 50px;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
}
.barra_navegacion ul li a:hover{
    background-color: rgb(233, 233, 233);
    color: black;
    width: 20%;
    padding: 10px;
}
.barra_navegacion ul li {
display: inline-block;
float: left; 
width: 7%;
}
.barra_navegacion ul li a{
color:rgb(255, 255, 255);
text-decoration: none;
}
.inicio{
 width: 1920px; 
 background-image: url(../img/fondo.jpg);
 background-size: cover;
 height: 500px;
}
.nombre{
font-size: 65px;
color: white;
font-family: 'Anton', 'sans-serif';
margin-left: 12%;
padding-top: 3%;
}/**/
.descripcion{
color: white;
font-size: 22px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
width: 410px;
margin-left: 12%;
}/**/
.lo_mas_visto{
   background-color: rgba(10, 10, 10, 0.753);
   text-align: center;
   height: 70px;
}
.lo_mas_visto p{
    font-size: 45px;
    font-family: 'Lobster', 'cursive';
    color: white;
}
/*noticia principal 1*/
.noticia_1{
    position: absolute;
    left: 90px;
    top: 900px;
}
.noticia_1 img{
    border-radius: 30px;
    width: 68%;
}
.text_noticia_1{
    background: #c4c4c4;
    width: 67%;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}
.text_noticia_1 a{
    padding: 5px;
    background: coral;
    padding-left: 3px;
    display: inline-block;
    width: 14%;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
.text_noticia_1 a:hover{
    background: rgba(158, 7, 189, 0.493);
}
/*noticia principal 2*/
.noticia_2{
    position: absolute;
    right: -70px;
    top: 900px;
}
.noticia_2 img{
    border-radius: 30px;
    width: 68%;
}
.text_noticia_2{
    background: #c4c4c4;
    width: 67%;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
.text_noticia_2 a{
    background: coral;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}
.text_noticia_2 a:hover{
    background: rgba(158, 7, 189, 0.493);
}
/*noticia principal 3*/
.noticia_3{
    position: absolute;
    right: -460px;
    top: 1365px;
}
.noticia_3 img{
    border-radius: 30px;
    width: 40%;
}
.text_noticia_3{
    background: #c4c4c4;
    width: 40%;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}
.text_noticia_3 a{
    background: coral;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}
.text_noticia_3 a:hover{
    background: rgba(158, 7, 189, 0.493);
}
/*noticicia principal 4*/
.noticia_4{
    position: absolute;
    left: 90px;
    top: 1360px;
}
.noticia_4 img{
    border-radius: 30px;
    width: 67%;
}
.text_noticia_4{
    background: #c4c4c4;
    width: 65%;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}
.text_noticia_4 a{
    background: coral;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}
.text_noticia_4 a:hover{
    background: rgba(158, 7, 189, 0.493);
}
/*pie de la pagina web*/
.pie_web{
    background:rgb(209, 207, 207);
    position: absolute;
    top: 2000px;
    padding: 50px;
    width: 93%;
}
.pie_web p{
    position: absolute;
    left: 550px;
}
.fondo{
    background-color: black;
    width: 100%;
    height: 400px
}