.barra_registro{
    position: absolute;
    width: 1300px;
    top: 40px;
}
.cabeza{
    border:2px  rgb(42, 42, 94) solid;
    border-radius: 15px;
    background: linear-gradient( #ff80807c 5%, #4451c9 100%);
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a{
    border: 2px rgb(42, 0, 61) solid;
    border-radius: 10px;
    background: #1E1550;
}
.menu li a:hover{
    border-radius: 10px;
    background: linear-gradient(#ff80807c 5%, #4451c9 100%)    
}
.noticia_titulo {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(235, 235, 235);
    border-radius: 12px;
    display: inline-block;
    text-align: center;
    width: 1325px;
    position: absolute;
    top: 260px;
    color: rgb(7, 63, 116);
}
.contenido{
    position: absolute;
    top: 400px;
    left: 30px;
    width: 90%;
}

.blogn1 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: left;
    background: rgb(235, 235, 235);
    width: 60%;
    padding: 20px;
    border-radius: 20px;
}

.blogn1 img {
    border: 5px black solid;
    border-radius: 10px;
}

.blog_n2 img {
    border: 5px black solid;
    border-radius: 10px;
}

.blog_n2 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: left;
    background: rgb(235, 235, 235);
    width: 60%;
    padding: 20px;
    border-radius: 20px;
}

.lo_masvisto {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    left: 920px;
    top: 400px;
    float: left;
    background: rgb(235, 235, 235);
    width: 30%;
    padding: 10px;
    border-radius: 10px;
}

.lo_masvisto img {
    border: 5px rgb(36, 36, 36) solid;
    border-radius: 10px;
}
#text_1{
    text-decoration: none;
    color: black;
}
#text_2{
    text-decoration: none;
    color: black;
}
#text_3{
    text-decoration: none;
    color: black;
}
#text_1:hover{
    color: rgb(2, 71, 175);
}
#text_2:hover{
    color: rgb(9, 37, 197);
}
#text_3:hover{
    color: rgb(9, 21, 187);
}
