*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(41, 39, 39);
    margin: 0;
    padding: 0;
}

#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.barra_navegacion{
    background-color: rgba(10, 10, 10, 0.753);
    text-align: center; 
    padding: 15px;
    margin: 0%;
    position: relative;
    height: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.barra_navegacion{
    animation-duration: 0.5s;
    animation-name: nav;
}

@keyframes nav{
    from{
        transform: translate3d(0,-100%,0);
        opacity: 0;
    }
    to{
        transform: translate3d(0,0,0);
        opacity: 2;
    }
}

.barra_navegacion ul li a:hover{
    background-color: rgb(233, 233, 233);
    color: black;
    width: 20%;
    padding: 10px;
    transition: 0.3s;
    border-radius: 7px;
}
.barra_navegacion ul li {
display: inline-block;
width: 7%;
}
.barra_navegacion ul li a{
color:rgb(255, 255, 255);
text-decoration: none;
}
.inicio{
 width: 1920px; 
 background-image: url(../img/fondo.jpg);
 background-size: cover;
 height: 500px;
}

.inicio{
    animation-duration: 2s;
    animation-name: texto;
}

@keyframes texto{
    
       from{
           opacity: 0;
       }
       to{
           opacity: 1;
       }
}

.nombre{
font-size: 65px;
color: white;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin-left: 12%;
padding-top: 3%;
}/**/

.nombre{
    animation-duration: 2s;
    animation-name: texto;
}

@keyframes texto{
    
       from{
           opacity: 0;
       }
       to{
           opacity: 1;
       }
}

.descripcion{
color: white;
font-size: 22px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
width: 410px;
margin-left: 12%;
}/**/

.descripcion{
    animation-duration: 2s;
    animation-name: descripcion;
}

@keyframes descripcion{
    
       from{
           opacity: 0;
       }
       to{
           opacity: 1;
       }
}


.lo_mas_visto{
   background-color: rgba(10, 10, 10, 0.753);
   text-align: center;
   height: 70px;
}

.lo_mas_visto{
    animation-duration: 2s;
    animation-name: masvisto;
}

@keyframes masvisto{
    
       from{
           opacity: 0;
       }
       to{
           opacity: 1;
       }
}

.lo_mas_visto p{
    font-size: 45px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
/*noticia principal 1*/
.noticia_1{
    position: absolute;
    left: 90px;
    top: 700px;
}
.noticia_1 img{
    border-radius: 30px;
    width: 68%;
}

.noticia_1 img{
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.text_noticia_1{
    background: #222222;
    width: 67%;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.text_noticia_1{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text_noticia_1 a{
    background: rgb(0, 0, 0);
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.text_noticia_1 a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text_noticia_1 a:hover{
    background: rgba(107, 107, 107, 0.493);
}
/*noticia principal 2*/
.noticia_2{
    position: absolute;
    right: -70px;
    top: 700px;
}
.noticia_2 img{
    border-radius: 30px;
    width: 68%;
}

.noticia_2 img{
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.text_noticia_2{
    background: #272727;
    width: 67%;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.text_noticia_2{
    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text_noticia_2 a{
    background: rgb(0, 0, 0);
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}

.text_noticia_2 a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text_noticia_2 a:hover{
    background: rgba(109, 109, 109, 0.493);
}
/*noticia principal 3*/
.noticia_3{
    position: absolute;
    right: -460px;
    top: 1200px;
}
.noticia_3 img{
    border-radius: 30px;
    width: 40%;
}

.noticia_3 img{
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.text_noticia_3{
    background: #202020;
    width: 40%;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.text_noticia_3{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text_noticia_3 a{
    background: rgb(0, 0, 0);
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}

.text_noticia_3 a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text_noticia_3 a:hover{
    background: rgba(107, 107, 107, 0.493);
}
/*noticicia principal 4*/
.noticia_4{
    position: absolute;
    left: 90px;
    top: 1200px;
}
.noticia_4 img{
    border-radius: 30px;
    width: 67%;
}

.noticia_4 img{
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.text_noticia_4{
    background: #1d1d1d;
    width: 65%;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.text_noticia_4{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text_noticia_4 a{
    background: rgb(0, 0, 0);
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}

.text_noticia_4 a{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text_noticia_4 a:hover{
    background: rgba(97, 97, 97, 0.493);
}
/*pie de la pagina web*/
.pie_web{
    background:rgb(209, 207, 207);
    position: absolute;
    top: 1700px;
    padding: 50px;
    width: 93%;
}
.pie_web p{
    position: absolute;
    left: 550px;
}
.fondo{
    background-color: black;
    width: 100%;
    height: 400px
}