.cabeza_web{
    border-radius: 10px;
    background: linear-gradient(#ff80807c 5%, #4451c9 100%)
}

.menu button {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px;
    background:  #1E1550;
    color:whitesmoke ;
    border: 2px rgb(40, 4, 54)solid;
    border-radius: 10px;
}

.menu button:hover {
         background: linear-gradient(#ff80807c 5%, #4451c9 100%);
}

.noticia_titulo {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(233, 231, 231);
    border-radius: 12px;
    display: inline-block;
    text-align: center;
    width: 1000px;
}

.blogn1 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: left;
    background: rgb(235, 235, 235);
    width: 60%;
    padding: 20px;
    border-radius: 20px;
}

.blogn1 img {
    border: 5px black solid;
    border-radius: 10px;
}

.blog_n2 img {
    border: 5px black solid;
    border-radius: 10px;
}

.blog_n2 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: left;
    background: rgb(235, 235, 235);
    width: 60%;
    padding: 20px;
    border-radius: 20px;
}

.lo_masvisto {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    left: 1050px;
    top: 450px;
    float: left;
    background: rgb(235, 235, 235);
    width: 30%;
    padding: 10px;
    border-radius: 10px;
}

.lo_masvisto img {
    border: 5px rgb(36, 36, 36) solid;
    border-radius: 10px;
}
