:root {
    --colorTextos: #49454567;
}
body {
    padding-top: 4px;
    font-family: Arial, Helvetica, sans-serif;
    background: #4568DC;
    background: -webkit-linear-gradient(to right,#161616, #0d6385, #0d6385, #161616);
    background: linear-gradient(to right,#161616, #0d6385, #0d6385, #161616);
    height: 750px;
    display: inline-block;
    justify-content: center;
  }
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    list-style: none;
    padding: 0;
    padding-bottom: 50px;
    background: transparent;
    width: 100%;
    max-width: 1720px;
}


.menu li a{
    text-decoration: none;
    color:white;
    padding: 20px;
    display:block;
    
}

.menu li a{
    animation-duration: 2s;
    animation-name: menuli;
}

@keyframes menuli{
    
    from{
     opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.menu li a{
    animation-duration: 2s;
    animation-name: menu;
}

@keyframes menu{
    
    from{
        transform: translate3d(0.-100%,0); 
        opacity: 0;
    }
    to{
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

.menu li{
    display: inline-block;
    text-align: left;

}

.menu li a:hover{
    animation: 0.5s;
    background: rgb(10, 10, 10);
}

.menu li a:hover{
    border-radius: 7px;
}


.menu-registro{
    position: absolute;
    left: 950px;
    top: 18px;

}

.menu-registro{
    animation-duration: 2s;
    animation-name: registro;
}


h1{
    text-align: center;
    font-weight: 700;
}
form{
    background: #fff;
    padding: 25px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-left: 150px;
    margin-right: auto;
}

.form{
    width: 100%;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 60px ;
}

input{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}



input:focus{ 
    outline: none;
    color: #5e5d5d;
}

label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right,#242966, #094b16, #990303, #0d6385);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}
.suscribtext{
    font-family: Arial, Helvetica, sans-serif;

}
.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: #424242;
    padding-top: 20px;
    
}

button{
    font-family: 'roboto';
    background: #4568DC;
    background: -webkit-linear-gradient(to right,#161616, #0d6385, #0d6385, #161616);
    background: linear-gradient(to right,#161616, #0d6385, #0d6385, #161616);
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width:500px){
    form{
        width: 80%;
    }
}

